<div>
  <mat-toolbar>
    <mat-icon>fact_check</mat-icon>
    <span>&nbsp;</span>
    <span>{{title}}</span>
  </mat-toolbar>

  <br>

  <div fxLayout="column">
    <div fxLayoutAlign="center">
      <mat-button-toggle-group [(ngModel)]="currentSection" (change)="sectionChange($event)" class="section-toggles" name="sectionToggle" aria-label="Section Toggle">
        <mat-button-toggle value="skills"><mat-icon>computer</mat-icon>&nbsp; Skills</mat-button-toggle>
        <mat-button-toggle value="projects"><mat-icon>work_outline</mat-icon>&nbsp; Projects</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div>
      <div *ngFor="let section of sections">
        <div @fadeAnimation *ngIf="section == currentSection">
          <skill-list *ngIf="section == 'skills'"></skill-list>
          <div *ngIf="section == 'projects'">
            {{section | uppercase}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
