<div>
  <div mat-dialog-content>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="stretch stretch">
      <div fxFlex>
        <h2>{{project.name}}</h2>

        <p>{{project.description}}</p>

        <a [href]="project.link" target="_blank" mat-button class="mat-primary"><mat-icon>link</mat-icon> View Link</a>
      </div>

      <mat-divider vertical="true"></mat-divider>

      <div fxFlex>
        <mat-list role="list">
          <div mat-subheader>{{project.skill_count}} Skill(s)</div>
          <mat-divider></mat-divider>
          <mat-list-item *ngFor="let skill of project.skills" role="listitem">
            <i matListIcon class="devicon-{{skill.icon}}-plain colored"></i>
            <h3 mat-line>{{skill.name}}</h3>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>

  <div mat-dialog-actions fxLayoutAlign="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
  </div>
</div>
