<div>
  <br>
  <div class="skill-search-container" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon>search</mat-icon>
    <mat-form-field fxFlex="40" fxFlex.lt-md="80" appearance="standard" floatLabel="never">
<!--      <mat-label>Search skills...</mat-label>-->
      <input matInput #searchInput type="search" autocomplete="off" placeholder="Search skills..."
             [(ngModel)]="searchText"
             tabindex="-1"
             autofocus>
      <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchClick($event)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <br>

  <div *ngIf="loading" fxLayoutAlign="center">
    <mat-spinner diameter="40" strokeWidth="1"></mat-spinner>
  </div>

  <div *ngIf="!loading && error" @fadeAnimation fxLayoutAlign="center" class="mat-subheader mat-error">
    <span>error loading skills</span>
  </div>

  <div *ngIf="!loading && !error && !skills.length" @fadeAnimation fxLayoutAlign="center" class="mat-subheader">
    <span>no skills</span>
  </div>

  <div *ngIf="!loading && !error && skills.length" @fadeAnimation fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="15px">
    <mat-card class="skill-card" *ngFor="let skill of skills | filter:'name':searchText">
      <mat-card-header>
        <div mat-card-avatar>
          <i *ngIf="skill.icon" class="skill-icon devicon-{{skill.icon}}-plain colored"></i>
          <mat-icon *ngIf="!skill.icon" class="skill-icon">star_outline</mat-icon>
        </div>
        <mat-card-title>{{skill.name}}</mat-card-title>
        <mat-card-subtitle>{{skill.project_count}} project(s)</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions fxLayout="row" fxLayoutAlign="end">
        <button mat-button (click)="showSkillDetail(skill)" class="mat-primary">View Projects</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
